@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 0 0% 5%;
    --border: 0 0% 0%;
    --muted: 0 0% 96%;
    --primary: 0 0% 5%;
  }
}

html,
body {
  background-color: #f8fafc;
  color: #0f172a;
}
